[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.*"
djangorestframework = "==3.10.*"
Pillow = "==6.2.*"
psycopg2 = "==2.8.*"
gunicorn = "==19.9.*"
django-environ = "==0.4.*"
python-ldap = "==3.2.*"
django-auth-ldap = "==2.0.*"
djangorestframework-simplejwt = "==4.3.*"
django-dynamic-preferences = "==1.8"
babel = "==2.7.*"

[dev-packages]
flake8 = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"
