{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="send_email/" method="POST" style="display: inline-block">
            {% csrf_token %}
            <button type="submit">Send email</button>
        </form>
        <form action="send_email_test/" method="POST" style="display: inline-block">
            {% csrf_token %}
            <button type="submit">Send email (test)</button>
        </form>
    </div>
    <br />

    {{ block.super }}
{% endblock object-tools %}
