{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <form name="export" action="export/" method="POST">
        {% csrf_token %}
        <input type="submit" value="Export" />
    </form>

    <table id="orders_count_by_dish">
        <thead>
            <tr>
                <th>Dish</th>
                <th>Orders Count</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in orders_count_by_dish %}
                <tr>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.orders_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>
        form[name="export"] {
            margin-bottom: 15px;
        }
        form[name="export"] input {
            margin-right: 5px;
        }

        #orders_count_by_dish {
            margin-bottom: 15px;
        }
    </style>

    {{ block.super }}
{% endblock object-tools %}
